<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template_in.txt &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>xml</string>
	<key>name</key>
	<string>New build.xml</string>
	<key>uuid</key>
	<string>6B159F7A-53D3-43ED-A5BF-C2C721114259</string>
</dict>
</plist>
