<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Phing</string>
	<key>uuid</key>
	<string>898E1AB9-8FD4-4571-A15D-799556F00416</string>
</dict>
</plist>
